// Buttons styles.

.button {
  line-height: $form-element-height;
}

// Fix bug.
input[type="submit"] {
  line-height: 0;
}

.button,
#{$all-buttons} {
  @include transition(all 0.2s ease-in);
  display: inline-block;
  cursor: pointer;
  height: $form-element-height;
  padding: 0 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  border: 2px solid transparent;
  color: white;
  font-size: $font-size;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none !important;
  box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-element;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &:last-child,
  & + & {
    margin-right: 0;
  }

  &.border {
    background-color: transparent;

    &.white {
      border: 2px solid white !important;
      color: white !important;
    }
  }

  &.big {
    height: $form-element-height * 1.5;
    padding: 0 28px;
    font-size: $font-size + 2;
    line-height: $form-element-height * 1.5;
  }

  &.small {
    height: $form-element-height / 1.5;
    padding: 0 5px;
    font-size: $font-size - 4;
    line-height: $form-element-height / 1.5;
  }

  &.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    color: white !important;
    opacity:            0.5;
    -moz-opacity:       0.5;
    -khtml-opacity:     0.5;
    -webkit-opacity:    0.5;
    pointer-events: none;
  }
}

.button:hover,
.button:focus,
#{$all-buttons-focus},
#{$all-buttons-hover} {
  color: white;
  background-color: $dark-color-bg;

  &.border {
    border-color: $dark-color-bg;
    color: $dark-color-bg;

    &.white {
      border: 2px solid white !important;
      background-color: white !important;
      color: black !important;
    }
  }
}