// Comments.
// =========

#comments {
  .comment {
    margin-bottom: $base-margin;

    h3 {
      font-weight: 700;
    }

    .submitted {
      margin-bottom: $base-margin;
    }
  }

  .comment-new {
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: $base-margin;
  }
}